<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">


    <link th:inline="css" th:href="@{/css/layout/bootstrap.min.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/css/layout/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/css/layout/tooplate-mini-finance.css}" rel="stylesheet"/>


    <!-- TOAST UI Grid -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>

    <!-- TOAST UI Calendar  -->
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>


    <script th:inline="javascript" type="text/javascript" th:src="@{/js/layout/jquery.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/layout/bootstrap.bundle.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/layout/custom.js}"></script>



</head>
</html>