<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="Content"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<!--TODO: 클릭하면 볼 수 있는 Board 상세 페이지 생성-->
<!--TODO: 상세페이지에서 본인이 작성한 글이면 수정, 삭제 가능-->
<!--TODO: /Board 페이지에서 추가 버튼으로 글 작성 가능, 로그인 안했으면 로그인 페이지로 이동-->
<body>
    <div id="container">
        <h3>Board 영역입니다.</h3>

        <!-- 테이블 추가 이벤트 -->
        <div class="btn-wrapper" style="margin-bottom: 10px;">

            <!-- 테이블 버튼 구성 -->
            <div class="btn-wrapper" style="margin-bottom: 10px;">
                <button
                        id="saveBtn"
                        th:class="btnStyle"
                        style="float: right;
                    margin-left: 20px;"
                >수정
                </button>

                <button
                        id="registerBtn"
                        class="transactionBtn"
                        th:class="btnStyle"
                        style="float: right;"
                >
                    등록
                </button>
                <button
                        id="appendBtn"
                        th:class="btnStyle"
                        style="float: right;"
                >
                    추가
                </button>
            </div>

        <!-- Toast Grid Load -->
        <div id="grid"></div>
    </div>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/board_grid.js}"></script>
</body>
</html>